.pad
  %table.info-table(cellspacing=0)
    %tbody
      :if primitives.isDataAvailable()
        %tr
          %td
            .box
              .value= htmlEscape(primitives.get("NumberOfNodeIdsInUse"))
              .title nodes
          %td
            .box
              .value= htmlEscape(primitives.get("NumberOfPropertyIdsInUse"))
              .title properties
          %td
            .box
              .value= htmlEscape(primitives.get("NumberOfRelationshipIdsInUse"))
              .title relationships
          %td
            .box
              .value= htmlEscape(primitives.get("NumberOfRelationshipTypeIdsInUse"))
              .title relationship types
          
      :if diskUsage.isDataAvailable()
        %tr
          %td
            .box
              .value= htmlEscape(Math.round(diskUsage.get("TotalStoreSize") / 1024) + " kB ")
              .title total disk usage
          %td
            .box
              .value= htmlEscape(Math.round( diskUsage.getDatabaseSize() / 1024) + " kB " + "(" + diskUsage.getDatabasePercentage() + "%)")
              .title database disk usage
          %td
            .box
              .value= htmlEscape(Math.round( diskUsage.getLogicalLogSize() / 1024) + " kB " + "(" + diskUsage.getLogicalLogPercentage() + "%)")
              .title logical log disk usage
          %td

      :if cacheUsage.isDataAvailable()
        %tr
          %td
            .box
              .value= htmlEscape(cacheUsage.get("NodeCacheSize"))
              .title cached nodes
          %td
            .box
              .value= htmlEscape(cacheUsage.get("RelationshipCacheSize"))
              .title cached relationships
          %td
            .box
              .value= htmlEscape(cacheUsage.get("CacheType"))
              .title is the cache type
          %td

  .break

