.pad
  %table.info-table(cellspacing=0)
    %tbody
      :if primitives.isDataAvailable()
        %tr
          %td= primitives.get("NumberOfNodeIdsInUse")
          %th nodes
          %td= primitives.get("NumberOfPropertyIdsInUse")
          %th properties
          %td= primitives.get("NumberOfRelationshipIdsInUse")
          %th relationships
          %td= primitives.get("NumberOfRelationshipTypeIdsInUse")
          %th relationship types
      :if diskUsage.isDataAvailable()
        %tr
          %td= Math.round(diskUsage.get("TotalStoreSize") / 1024) + " kB "
          %th total disk usage
          %td= Math.round( diskUsage.getDatabaseSize() / 1024) + " kB " + "(" + diskUsage.getDatabasePercentage() + "%)"
          %th database disk usage
          %td= Math.round( diskUsage.getLogicalLogSize() / 1024) + " kB " + "(" + diskUsage.getLogicalLogPercentage() + "%)"
          %th logical log disk usage
          %td
          %th

      :if cacheUsage.isDataAvailable()
        %tr
          %td= cacheUsage.get("NodeCacheSize")
          %th cached nodes
          %td= cacheUsage.get("RelationshipCacheSize")
          %th cached relationships
          %td= cacheUsage.get("CacheType")
          %th is the cache type
          %td
          %th

  .break

