div(ng-controller="CypherResultCtrl", fullscreen)
  .outer
    include partials/frame-common-actions
    .left-frame-toggle
      .left-toggle-menu.toggle(ng-if='frame.type == "cypher" && availableModes.length > 0')
        .btn-group.toggle-buttons
          button.btn(ng-class='{active: isActive("graph")}', ng-click='setActive("graph")')
            i.nf.nf-logo
            span.mini-menu-item-text Graph
          br
          button.btn(ng-class='{active: isActive("table")}', ng-click='setActive("table")')
            i.fa.fa-table
            span.mini-menu-item-text Rows
          br
          button.btn(ng-show='isAvailable("plan")', ng-class='{active: isActive("plan")}', ng-click='setActive("plan")')
            i.fa.fa-code-fork
            span.mini-menu-item-text Plan
    .right-inner-frame.no-indicator(ng-class='{"no-left-menu": frame.type != "cypher" || availableModes.length < 1}')
      .inner
        .view-result(ng-class='{error: frame.hasErrors}')
          .view-result-graph(ng-show='isActive("graph" )&& !frame.isTerminating', ng-controller="InspectorCtrl")
            article.help.no-data(ng-show='!isAvailable("graph")')
              p
                | No graph view available. You have to&nbsp;
                a(help-topic="RETURN")
                  | RETURN
                | &nbsp; nodes, relationships or paths to see a graph visualization.
            .graph-holder.result(ng-show='isAvailable("graph")')
              include partials/legend
              .graph-contents
                svg.graph(neo-graph
                  graph-data='frame.response.graph'
                  on-item-click='onItemClick($item, "graphItem")'
                  on-item-mouse-over='onItemHover($item, "graphItem")'
                  on-item-mouse-out='onItemHover()'
                  on-node-drag-toggle='onNodeDragToggle($item)'
                  on-canvas-clicked='onItemClick()'
                  ng-controller='D3GraphCtrl'
                  style="pointer-events:fill;"
                  ng-class="{'one-legend-row': hasLabels || hasTypes, 'two-legend-rows': hasLabels && hasTypes}")
              .status-bar(ng-show='isActive("graph")')
                .cell
                  .status
                    include partials/inspector

          .view-result-table.result(ng-show='isActive("table") && !frame.isTerminating')
            .table-holder
              article.help.no-data.has-status-bar(ng-show='!frame.response.table._response.columns.length')
                p(ng-show="getNonZeroStatisticsFields(frame).length")
                  {{formatStatisticsOutput(updatesStatistics(frame))}}
                p(ng-show="!getNonZeroStatisticsFields(frame).length")
                  | (no changes, no rows)
              article.help.no-data.has-status-bar(ng-show='!frame.response.table._response.data.length && frame.response.table._response.columns.length')
                p
                  | (no rows)
              neo-table(table-data='frame.response.table', ng-show='frame.response.table._response.data.length')
            .status-bar
              .status
                include partials/result-status

          .view-result-plan.result(ng-show='isActive("plan") && !frame.isTerminating')
            .plan-holder
              article.help.no-data.has-status-bar(ng-show='!isAvailable("plan")')
                p No plan found. Prepend your query with EXPLAIN or PROFILE to analyze the execution plan.
              .query-plan-contents(ng-show='isAvailable("plan")')
                svg.query-plan(neo-plan
                  query-plan='frame.response.table._response.plan')
            .status-bar
              .status
                include partials/plan-status

          .view-result-error.result(ng-show='frame.hasErrors')
            pre(ng-bind="frame.detailedErrorText")
            .status-bar.error
              .status
                .fa.fa-exclamation-triangle.icon-warning-sign &nbsp;
                {{frame.errorText}}

          .view-result-loading(ng-show='frame.isLoading && !frame.isTerminating')
            .spinner
              span.fa.fa-spinner.fa-spin.fa-2x
            .status-bar
              .status
                span Running...

          .view-result-loading(ng-show='frame.isTerminating')
            .spinner
              span.fa.fa-spinner.fa-spin.fa-2x
            .status-bar
              .status
                span Terminating...
