div(ng-controller="CypherResultCtrl", fullscreen)
  .outer
    include partials/frame-common-actions
    .inner
      .view-result(ng-class='{error: frame.hasErrors}')
        .view-result-graph.result(ng-show='isActive("graph")', ng-controller="InspectorCtrl")
          include partials/legend
          .graph-contents
            svg(neo-graph
              graph-data='frame.response.graph'
              on-item-click='onItemClick($item, "graphItem")'
              on-item-mouse-over='onItemHover($item, "graphItem")'
              on-item-mouse-out='onItemHover()'
              on-canvas-clicked='onItemClick()'
              ng-controller='D3GraphCtrl'
              style="pointer-events:fill;")
          .status-bar
            .status
              include partials/inspector

        .view-result-table.result(ng-show='isActive("table")')
          neo-table(table-data='frame.response.table')
          a.fa.fa-download(exportable 'ng-click'='exportCSV(frame.response.table)', tooltip-placement='left', tooltip='Download CSV')
        .status-bar(ng-show='isActive("table")')
          .status
            include partials/result-status


        .view-result-error.result(ng-show='frame.hasErrors')
          pre(ng-bind="frame.detailedErrorText")
          .status-bar.error
            .status
              .fa.fa-exclamation-triangle
              {{frame.errorText}}

        .view-result-loading(ng-show='frame.isLoading')
          .spinner
            span.fa.fa-spinner.fa-spin.fa-2x
          .status-bar
            .status
              span Running...


      //- .status-bar(ng-class='{error: frame.hasErrors, loading: frame.isLoading}')
      //-   .status
      //-     div(ng-hide='frame.isLoading')
      //-       span(ng-show='frame.hasErrors')
      //-         .fa.fa-exclamation-triangle
      //-         {{frame.errorText}}
      //-       div(ng-hide='frame.hasErrors')
      //-         div(ng-show='frame.response.table')
      //-           .fa.fa-ok
      //-           include partials/result-status

      //-   .actions
      //-     a.fa.fa-table(ng-class='{active: isActive("table")}', ng-click='setActive("table")')
      //-     a.fa.fa-code-fork(ng-class='{active: isActive("graph")}', ng-click='setActive("graph")')
