%table.data-table(cellspacing="0")
  %tbody
    %tr
      %th 
        %h3 Relationship
      %th 
        %h3 Start node
      %th 
        %h3 Type
      %th 
        %h3 End node
      :each key in relationshipList.getPropertyKeys()
        %th
          %h3= htmlEscape(key)
    :each relationship in relationshipList.getRelationships()
      %tr
        %td
          %a.micro-button(href="#/data/search/rel:#{htmlEscape(relationship.getId())}/")= "Relationship " + htmlEscape(relationship.getId())
        %td
          %a.micro-button(href="#/data/search/#{htmlEscape(relationship.getStartId())}/")= "Node " + htmlEscape(relationship.getStartId())
        %td.small= htmlEscape(relationship.getItem().getType())
        %td
          %a.micro-button(href="#/data/search/#{htmlEscape(relationship.getEndId())}/")= "Node " + htmlEscape(relationship.getEndId())
        
        :each key in relationshipList.getPropertyKeys()
          %td.small
            :if relationship.getPropertyByKey(key)
              = relationship.getPropertyByKey(key).getTruncatedHtmlValue(50)


.break
