#header
  #header_submenu
    %ul.horizontal_menu
      %li
        %a.micro-button(href="http://docs.neo4j.org/") Documentation
  %img#logo(src="img/logo.png")
  %ul#mainmenu
    :each item in mainmenu
      %li.title-button
        :if item.current
          %a.current(href="#{item.url}")
            %span.subtitle= item.subtitle
            %span= item.label
        :if !item.current
          %a(href="#{item.url}")
            %span.subtitle= item.subtitle
            %span= item.label

#contents
  

#footer
  %p.copyright Copyright (c) 2002-2010
    \ 
    %a(href="http://neotechnology.com") Neo Technology
    \.
    \ This is free software, available under the 
    \ 
    %a(href="http://www.gnu.org/licenses/agpl.html") GNU Affero General Public License
    \ version 3 or greater.
