!!! 5
html(class="no-js", lang="en", ng-app="neo4jApp", ng-controller="MainCtrl")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title(ng-bind-template="Neo4j {{kernel.store_dir}}")
      | Neo4j
    meta(name="description", content="Neo4j Browser")
    meta(name="author", content="Neo Technology")

    include views/partials/device-icons

    //build:css styles/main.css
    link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='components/codemirror/lib/codemirror.css')
    link(rel="stylesheet", href="styles/main.css")
    //endbuild

  body(ng-class="{'connection-error': offline, 'show-drawer': isDrawerShown, 'modal-shown': isPopupShown}", ng-controller="LayoutCtrl", keyup="globalKey($event)", mousemove="globalMouse($event)")


    //if lt IE 9
      #incompatible
        | Sorry, you need to upgrade to the latest version of Internet Explorer
        br
        | in order to use the Neo4j browser

    #page-container.ng-cloak
      include views/main

    include views/template/tooltip
    include views/template/tabs
    include views/template/popups
    include views/template/inspector-rows
    include views/template/carousel/carousel
    include views/template/carousel/slide

    // banner for going to webadmin, only if needed
    div.ng-cloak(ng-hide="goodBrowser")
        div(style="position: fixed; bottom: 0; right: 0; border: 0; z-index: 998")
            a(href="../webadmin")
                img(src="images/webadmin-banner.png", alt="Switch to Classic UI")
        div(style="position: fixed; bottom: 0; right: 0; border: 0; z-index: 999")
            a(ng-click="hideWebadminBanner = true")
                img(src="images/dismiss.png", alt="Dismiss")


    //build:js scripts/components.js
    script(src='components/jquery/dist/jquery.js')
    script(src='components/jquery-ui/ui/core.js')
    script(src='components/jquery-ui/ui/widget.js')
    script(src='components/jquery-ui/ui/mouse.js')
    script(src='components/jquery-ui/ui/draggable.js')
    script(src='components/jquery-ui/ui/sortable.js')
    script(src='components/local-storage-js/storage.js')
    script(src='components/angular/angular.js')
    script(src='components/angular-animate/angular-animate.js')
    script(src='components/angular-sanitize/angular-sanitize.js')
    script(src='components/angular-local-storage/dist/angular-local-storage.js')
    script(src='components/angular-ui-bootstrap/src/transition/transition.js')
    script(src='components/angular-ui-bootstrap/src/modal/modal.js')
    script(src='components/angular-ui-bootstrap/src/dropdown/dropdown.js')
    script(src='components/angular-ui-bootstrap/src/bindHtml/bindHtml.js')
    script(src='components/angular-ui-bootstrap/src/tooltip/tooltip.js')
    script(src='components/angular-ui-bootstrap/src/popover/popover.js')
    script(src='components/angular-ui-bootstrap/src/position/position.js')
    script(src='components/angular-ui-bootstrap/src/tabs/tabs.js')
    script(src='components/angular-ui-bootstrap/src/carousel/carousel.js')
    script(src='components/angular-ui-sortable/sortable.js')
    script(src='components/codemirror/lib/codemirror.js')
    script(src='components/codemirror/mode/css/css.js')
    script(src='components/codemirror/addon/display/placeholder.js')
    script(src='components/css/index.js')
    script(src='components/angular-ui-codemirror/ui-codemirror.js')
    script(src='components/d3/d3.js')
    script(src='components/colorbrewer/colorbrewer.js')
    script(src='components/blob/Blob.js')
    script(src='components/file-saver/FileSaver.js')
    script(src='components/UUID.js/src/uuid.js')
    script(src='components/modernizr/modernizr.js')
    script(src='components/jquery.easing/js/jquery.easing.js')
    script(src='components/angular-base64/angular-base64.js')
    script(src="components/canvg/dist/canvg.bundle.min.js")
    //endbuild

    //build:js(.tmp) scripts/scripts.js
    script(src='scripts/codemirror-cypher.js')
    script(src='scripts/polyfill.js')
    script(src='scripts/settings.js')
    script(src='scripts/utils.js')
    script(src='scripts/app.js')
    script(src='scripts/init/httpHeaders.js')
    script(src='scripts/init/statusCheck.js')
    script(src='scripts/init/tooltip.js')
    script(src='scripts/init/defaultContent.js')
    script(src='scripts/init/graphRenderers.js')
    script(src='scripts/init/commandInterpreters.js')
    script(src='scripts/controllers/Layout.js')
    script(src='scripts/directives/keyup.js')
    script(src='scripts/directives/onEnter.js')
    script(src='scripts/directives/mousemove.js')
    script(src='scripts/filters/uncomment.js')
    script(src='scripts/filters/autotitle.js')
    script(src='scripts/filters/basename.js')
    script(src='scripts/filters/dirname.js')
    script(src='scripts/filters/neo4jdoc.js')
    script(src='scripts/filters/humanReadableBytes.js')
    script(src='scripts/services/Cypher.js')
    script(src='scripts/services/Collection.js')
    script(src='scripts/services/Timer.js')
    script(src='scripts/directives/focusOn.js')
    script(src='scripts/services/CSV.js')
    script(src='scripts/directives/resizable.js')
    script(src='scripts/directives/fileUpload.js')
    script(src='scripts/directives/neoTable.js')
    script(src='scripts/directives/neoGraph.js')
    script(src='scripts/directives/neoPlan.js')
    script(src='scripts/controllers/D3Graph.js')
    script(src='scripts/directives/editInPlace.js')
    script(src='scripts/services/Server.js')
    script(src='scripts/controllers/Main.js')
    script(src='scripts/services/Node.js')
    script(src='scripts/services/Relationship.js')
    script(src='scripts/controllers/JMX.js')
    script(src='scripts/services/GraphExplorer.js')
    script(src='scripts/services/GraphRenderer.js')
    script(src='scripts/services/GraphStyle.js')
    script(src='scripts/services/GraphGeometry.js')
    script(src='scripts/services/TextMeasurement.js')
    script(src='scripts/services/CircularLayout.js')
    script(src='scripts/services/CircumferentialDistribution.js')
    script(src='scripts/controllers/Inspector.js')
    script(src='scripts/controllers/Legend.js')
    script(src='scripts/controllers/StylePreview.js')
    script(src='scripts/controllers/CypherResult.js')
    script(src='scripts/services/motdService.js')
    script(src='scripts/directives/fancyLogo.js')
    script(src='scripts/services/Persistable.js')
    script(src='scripts/services/Folder.js')
    script(src='scripts/services/Document.js')
    script(src='scripts/services/Frame.js')
    script(src='scripts/animations/frame.js')
    script(src='scripts/directives/outputRaw.js')
    script(src='scripts/directives/fullscreen.js')
    script(src='scripts/directives/exportable.js')
    script(src='scripts/directives/helpUrl.js')
    script(src='scripts/directives/helpTopic.js')
    script(src='scripts/directives/playTopic.js')
    script(src='scripts/directives/noNgAnimate.js')
    script(src='scripts/init/localStorage.js')
    script(src='scripts/controllers/Editor.js')
    script(src='scripts/controllers/Sidebar.js')
    script(src='scripts/services/Editor.js')
    script(src='scripts/filters/commandError.js')
    script(src='scripts/directives/clickToCode.js')
    script(src='scripts/directives/overflowWithToggle.js')
    script(src='scripts/directives/targetBlank.js')
    script(src='scripts/directives/scrollTopWhen.js')
    script(src='scripts/directives/FrameStream.js')
    script(src='scripts/services/RssFeedService.js')
    script(src='scripts/services/MotdFeedParser.js')
    script(src='scripts/services/CypherGraphModel.js')
    script(src='scripts/services/Auth.js')
    script(src='scripts/services/AuthData.js')
    script(src='scripts/controllers/Auth.js')
    script(src='scripts/controllers/Disconnect.js')
    script(src='scripts/controllers/ChangePassword.js')
    script(src='scripts/services/RequestInterceptor.js')
    script(src='lib/visualization/neod3.js')
    script(src='scripts/services/History.js')
    script(src='scripts/directives/serverTopic.js')
    script(src='scripts/services/CypherParser.js')
    script(src='scripts/services/ConnectionStatus.js')
    script(src='scripts/services/UDC.js')
    script(src='scripts/services/Intercom.js')
    script(src='scripts/controllers/Notifications.js')
    script(src='scripts/controllers/SettingsController.js')
    script(src='scripts/services/Canvg.js')
    script(src='scripts/services/SVGUtils.js')
    script(src='scripts/controllers/AdLibDataController.js')
    script(src='scripts/filters/tickitize.js')
    script(src='scripts/controllers/SysinfoController.js')
    script(src='scripts/controllers/Frame.js')
    script(src='lib/helpers.js')
    script(src='lib/serializer.js')
    //endbuild

    script.
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/lq70afwx';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
