.pad
  %table.info-table(cellspacing=0)
    %tbody
      :if primitives.isDataAvailable()
        %tr
          %td= htmlEscape(primitives.get("NumberOfNodeIdsInUse"))
          %th nodes
          %td= htmlEscape(primitives.get("NumberOfPropertyIdsInUse"))
          %th properties
          %td= htmlEscape(primitives.get("NumberOfRelationshipIdsInUse"))
          %th relationships
          %td= htmlEscape(primitives.get("NumberOfRelationshipTypeIdsInUse"))
          %th relationship types
      :if diskUsage.isDataAvailable()
        %tr
          %td= htmlEscape(Math.round(diskUsage.get("TotalStoreSize") / 1024) + " kB ")
          %th total disk usage
          %td= htmlEscape(Math.round( diskUsage.getDatabaseSize() / 1024) + " kB " + "(" + diskUsage.getDatabasePercentage() + "%)")
          %th database disk usage
          %td= htmlEscape(Math.round( diskUsage.getLogicalLogSize() / 1024) + " kB " + "(" + diskUsage.getLogicalLogPercentage() + "%)")
          %th logical log disk usage
          %td
          %th

      :if cacheUsage.isDataAvailable()
        %tr
          %td= htmlEscape(cacheUsage.get("NodeCacheSize"))
          %th cached nodes
          %td= htmlEscape(cacheUsage.get("RelationshipCacheSize"))
          %th cached relationships
          %td= htmlEscape(cacheUsage.get("CacheType"))
          %th is the cache type
          %td
          %th

  .break

